{% assign item = include.card %}
<!--<a href="{{ item.url }}">-->
  <div class="card h-100" style="margin-left: 0;margin-right: 0; border: none;">
    <img class="card-img-top" src="/assets/images/{{ item.collection }}/{{item.image }}" alt="{{ item.title }}">
    <div class="card-body" style="padding: 0; padding-top: 1.25rem;">
      <h4 class="card-title text-center" style="font-size: 1.2rem">{{ item.title }}</h4>
      {% if item.collection == "productos" %}
      <p class="text-center">{{ item.description }}</p>
      {% endif %}
    </div>
    {% if item.precio %}
    <div class="card-footer" style="border: none; background-color: white;">
      <button type="button" class="btn btn-primary mx-auto d-block mb-2">{{ item.precio }} €</button>
    </div>
    {% endif %}
  </div>
<!--</a>-->
