{% assign item = include.card %}
<a href="{{ item.url }}">
  <div class="card mb-3">
    <img class="card-img-top" src="/assets/images/{{ item.collection }}/{{item.image }}" alt="{{ item.title }}">
    <div class="card-body">
      <h4 class="card-title h5 text-center">{{ item.title }}</h4>
      <p class="text-center">{{ item.summary }}</p>
      {% if item.precio %}
      <button type="button" class="btn btn-primary mx-auto d-block mb-2">{{ item.precio }}</button>
      {% endif %}
    </div>
  </div>
</a>
