<section class="text-center">
  <header>
    <h1 class="h6">Instrucciones de compra</h1>
    <figure class="figure d-block mx-auto mt-5" style="max-width: 30%;">
      <img src="/assets/carro-compra.svg" class="figure-img img-fluid">
    </figure>
    <span class="title-border-bottom"></span>
  </header>
  <main>
    <p>Para efectuar la compra de este producto. Llama al Tel. <a href="tel:646369041">646 369 041</a>, o si lo prefieres puedes pasar por nuestra tienda en Alameda del Boulevard nº25 20003 Donostia-San Sebastián</p>
    <p>Al comprar los productos en nuestra tienda, evitamos los intermediarios ofertando precios mas asequibles. Además, por la compra de cualquier producto, ofrecemos un curso gratuito para tus primeros pasos.</p>
    <p>Para cualquier duda puedes contactarnos por whatssap y correo electrónico:</p>
    <section class="text-left">
      <a href="tel:646369041"><span class="icon icon-phone"> </span>646 369 041</a>
      <a href="http://http://manictablet.com/?page_id=388"><span class="icon icon-mail"> </span>Email</a>
    </section>
</main>
</section>
