<section id="instrucciones-compra" class="text-center">
  <header>
    <h1 class="h6 ls-1 text-uppercase">Instrucciones de compra</h1>
    <figure class="figure d-block mx-auto mt-5" style="max-width: 30%;">
      <img src="/assets/carro-compra.svg" class="figure-img img-fluid">
    </figure>
    <span class="title-border-bottom"></span>
  </header>
  <main>
    <p>Para efectuar la compra de este producto. Llama al Tel. 646 369 041, o si lo prefieres puedes pasar por nuestra tienda en:<p>
    <p class="mx-auto">Alameda del Boulevard nº25<br>20003 Donostia-San Sebastián</p>
    <p>Al comprar los productos en nuestra tienda, evitamos los intermediarios ofertando precios mas asequibles. Además, por la compra de cualquier producto, ofrecemos un curso gratuito para tus primeros pasos.</p>
    <p>Para cualquier duda puedes contactarnos por whatssap y correo electrónico:</p>
    <section class="text-center">
      <a class="d-sm-none" href="https://api.whatsapp.com/send?phone=34646369041"><span class="icon icon-whatsapp-b"> </span>646 369 041</a>
      <div class="d-none d-sm-inline"><span class="icon icon-whatsapp-b"> </span>646 369 041</div>
      <a href="http://manictablet.com/?page_id=388"><span class="icon icon-mail"> </span>Email</a>
    </section>
</main>
</section>
