<section>
  <header>
    <h1 class="h6">Instrucciones de compra</h1>
    <span class="title-border-bottom"></span>
  </header>
  <main class="text-center">
    <p>Para efectuar la compra de este producto. Llama al Tel. <a href="tel:646369041">646 369 041</a>, o si lo prefieres puedes pasar por nuestra tienda en Alameda del Boulevard nº25 20003 Donostia-San Sebastián</p>
    <p>Al comprar los productos en nuestra tienda, evitamos los intermediarios ofertando precios mas asequibles. Además, por la compra de cualquier producto, ofrecemos un curso gratuito para tus primeros pasos.</p>
    <p>Para cualquier duda puedes contactarnos por whatssap y correo electrónico:</p>
    <a href="tel:646369041">646 369 041</a>
    <a href="http://http://manictablet.com/?page_id=388">Formulario de contacto</a>
    info@manictablet.com
</main>
</section>
