<footer class="container-fluid p-5 bg-dark text-light">
  <p class="h1 text-center text-uppercase mb-5">Contacto</p>
  <div class="row">
    <div class="col">
			<p>(+34) 646 369 041</p>
      <h4>TELÉFONO - WHATSAPP</h4>
      <h5>HORARIO: Lunes a Viernes <strong>9.00 - 13.00 &amp; 15.00 - 20.00</strong> (Martes Servicio Técnico a domicilio 15.00 - 20.00)</h5>
    </div>
    <div class="col">
			<p><span style="color: #ffffff;"><strong>(+34) 646 369 041</strong></span></p>
      <h4>TELÉFONO - WHATSAPP</h4>
      <h5>HORARIO: Lunes a Viernes <strong>9.00 - 13.00 &amp; 15.00 - 20.00</strong> (Martes Servicio Técnico a domicilio 15.00 - 20.00)</h5>
    </div>
    <div class="col">
			<p><span style="color: #ffffff;"><strong>(+34) 646 369 041</strong></span></p>
      <h4>TELÉFONO - WHATSAPP</h4>
      <h5>HORARIO: Lunes a Viernes <strong>9.00 - 13.00 &amp; 15.00 - 20.00</strong> (Martes Servicio Técnico a domicilio 15.00 - 20.00)</h5>
    </div>
  </div>
</footer>
