<footer id="main-footer" class="container-fluid p-5">
  <p class="h1 text-center text-uppercase mb-5">Contacto</p>
  <div class="row">
    <div class="col text-center">
      <p><span class="icon-phone"></span></p>
			<p>(+34) 646 369 041</p>
      <p class="lead">TELÉFONO - WHATSAPP</p>
      <p>HORARIO: Lunes a Viernes <strong>9.00 - 13.00 &amp; 15.00 - 20.00</strong> (Martes Servicio Técnico a domicilio 15.00 - 20.00)</p>
    </div>
    <div class="col text-center">
			<p><span class="icon-mail"></span></p>
      <p><a href="mailto:{{ site.email }}">{{ site.email}}</a></p>
    </div>
    <div class="col text-center">
      <p><span class="icon-location"></span></p>
			<p>Alameda del Boulevard 25 bajo 23</p>
      <p>20003 - DONOSTIA / SAN SEBASTIÁN</p>
      <p>Guipúzcoa</p>
    </div>
  </div>
  <div class="row m-5">
    <div class="col">
      <p class="text-center social">
        <a href="https://www.facebook.com/{{ site.facebook.app_id }}" <span class="icon-facebook h4"></span></a>
        <a href="https://twitter.com/{{ site.twitter.username }}" <span class="icon-twitter h4"></span></a>
        <a href="https://www.instagram.com/{{ site.instagram.username }}" <span class="icon-instagram h4"></span></a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="small text-center">&copy; {{ site.time | date: "%Y" }} ManicTablet. All Rights Reserved.</p>
    </div>
  </div>
</footer>

<!-- Custom JS -->
<script type="text/javascript" src="{{ "/assets/js/custom.js" | relative_url }}"></script>
