{% assign modelo = include.modelo %}
<div class="card mb-3">
  {% assign image = modelo.image | prepend: "/images/" | prepend: modelo.collection %}
  <img class="card-img-top" src="{{ image | relative_url }}" alt="{{ modelo.title }}">
  <div class="card-body">
    <h4 class="card-title h5 text-center">{{ modelo.title }}</h4>
    <p class="text-center">{{ modelo.summary }}</p>
  </div>
  <div class="card-footer text-right">
    <small class="text-muted"><a href="{{ modelo.url }}">ver modelos</a></small>
  </div>
</div>
