<nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light pb-3 fixed-top">
  <a class="navbar-brand pl-4 mr-0" href="/">
    <picture>
      <source srcset="/assets/logo-small.png" media="(max-width: 420px)">
      <source srcset="/assets/logo.svg">
      <source srcset="{{ site.logo | relative_url }}">
      <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}">
    </picture>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5 small">
      {% for item in site.data.menu %}
      <li class="nav-item ml-1 mb-1">
        {% if page.layout != 'home' %}
          {% assign href = item[1].link | absolute_url %}
        {% else %}
          {% assign href = item[1].link %}
        {% endif %}
        <a class="nav-link" href="{{ href }}">{{ item[1].name | upcase }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
