<nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light pb-3 fixed-top">
  <a class="navbar-brand ml-5" href="/"><img src="{{ site.logo | relative_url }}" alt="{{ site.title }}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto small">
      {% for item in site.data.menu %}
      <li class="nav-item">
        {% if item[1].name == "Tienda" %}
          {% assign href = item[1].link | relative_url %}
        {% else %}
          {% assign href = item[1].link %}
        {% endif %}
        <a class="nav-link" href="{{ href }}">{{ item[1].name | upcase }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
