{% assign producto = include.producto %}
<div class="card mb-3">
  {% assign image = producto.image | prepend: "/images/" | prepend: producto.collection %}
  <img class="card-img-top" src="{{ image | relative_url }}" alt="{{ producto.title }}">
  <div class="card-body">
    <h4 class="card-title h5 text-center">{{ producto.title }}</h4>
    <p class="text-center">{{ producto.summary }}</p>
    <button type="button" class="btn btn-primary mx-auto d-block mb-2">{{ producto.precio }}</button>
  </div>
  <div class="card-footer text-right">
    <small class="text-muted"><a href="{{ producto.url }}">ver más</a></small>
  </div>
</div>
