<section id="cursos" class="text-center py-10vh px-1">
  <article>
    <header>
      <h1 class="text-uppercase">Los cursos</h1>
      <span class="title-border-bottom"></span>
    </header>
    <p class="lead">La tecnología ha cambiado nuestra forma de relacionarnos, de aprender, de divertirnos, de trabajar, de vivir. ManicTablet te ofrece soluciones para que saques el mejor partido a cualquiera de tus dispositivos. Es nuestra labor identificar tu contexto para darte información de lo que más te interesa. De esta manera, te ofrecemos un curso personalizado adecuado a tus necesidades</p>
    <div class="section-img mt-1">
      <figure class="figure d-block mx-auto">
        <img src="/assets/cursos.jpg">
      </figure>
    </div>
    <a class="mt-button" href="http://manictablet.com/#our-work" role="button">Ver cursos</a>
  </article>

</section>
