<div class="rev_slider_wrapper fullscreenbanner-container">

  <!-- the ID here will be used in the inline JavaScript below to initialize the slider -->
  <div id="rev_slider_1" class="rev_slider fullscreenbanner" data-version="5.4.6.3" style="display:none">

      <ul>
          <!-- *********************** -->
          <!-- Slides to be added here -->
          <!-- *********************** -->
          {% assign slides = site.slides | where: "publicado", "si" | sort: 'orden' %}
          {% for item in slides %}
            {% include revolution-slide.html slide=item index=forloop.index %}
          {% endfor %}
      </ul>

  </div>

</div>
