<section id="venta" class="text-center py-10vh px-1">

  <article>
    <header>
      <h1 class="text-uppercase">¡Vende tu antiguo dispositivo!</h1>
      <span class="title-border-bottom"></span>
    </header>
    <p class="lead">Ahora que has adquirido un nuevo dispositivo, te ayudamos a deshacerte del antiguo.</p>
    <p>Ponte en <a href="/#main-footer">contacto</a> con nosotros o pásate por nuestras instalaciones.</p>
  </article>

  <div class="section-img">
    <figure class="figure d-block mx-auto">
      <img src="/assets/venta2.jpg">
    </figure>
  </div>

</section>
