<!-- About Us -->
<section id="about" class="container py-10vh px-1">

  <div class="row">
    <div class="col">

      <article>
        <header class="text-center mb-5">
          <h1 class="mb-4">UNA NUEVA FORMA DE COMPRA</h1>
          <span class="title-border-bottom"></span>
        </header>
        <main>
          <p class="lead">En <b>Manic Tablet</b> ofrecemos una nueva forma de compra.</p>
          <p>Evitamos que seas un solo cliente más. Le damos más importancia al <b>servicio de postventa</b> que a la propia venta. Nos preocupamos de que el cliente sea capaz de sacarle el máximo rendimiento a su producto.</p>
          <p>Para ello, por la compra de cualquier producto, ofrecemos un <b>curso gratuito</b> a cada uno de nuestros clientes. Un curso individual adecuado a sus necesidades, en el que se resolverán todas las dudas y, de esta manera, puedan comenzar con sus primeros pasos, aprendiendo a manejar su nuevo dispositivo.</p>
          <p>Por otro lado al comprar los productos en la tienda, evitamos los intermediarios ofertando precios más asequibles, con su <b>garantía</b> correspondiente.</p>
          <p>Y también disfrutarán de una <b>atención personalizada</b> en cualquier momento para solucionar todos los futuros problemas</p>
        </main>
        <footer class="mt-5">
        <figure class="figure d-block mx-auto">
          <img src="/assets/manic-tablet-logo.svg" class="figure-img img-fluid" alt="{{ site.title }}">
        </figure>
        </footer>
      </article>

    </div>
  </div>

</section>
<!-- End About Us -->
