<!-- About Us -->
<section id="about" class="container py-10vh">

  <div class="row">
    <div class="col">

      <article>
        <header class="text-center mb-5">
          <h1 class="mb-4">UNA NUEVA FORMA DE COMPRA</h1>
          <span class="title-border-bottom"></span>
        </header>
        <main>
          <p class="lead" style="margin-bottom: 5rem;">A principios del 2014, <b>Manic Tablet</b> nace de la pasión por las nuevas tecnologías. Una pasión con el objetivo de enseñar a cada persona, de cualquier edad, como sacar el máximo partido de sus dispositivos. Ya sean, móviles, tabletas, ordenadores… o todo tipo de aparato relacionado con el mundo de las nuevas tecnologías.</p>
          <h2 class="mb-5">¿Por qué elegir Manic Tablet?</h2>
          <p class="lead">En Manic Tablet ofrecemos una nueva forma de compra.</p>
          <p class="lead">Evitamos que seas un solo cliente más. Le damos más importancia al <b>servicio de postventa</b> que a la propia venta. Nos preocupamos de que el cliente sea capaz de sacarle el máximo rendimiento a su producto.</p>
          <p class="lead">Para ello, por la compra de cualquier producto, ofrecemos un <b>curso gratuito</b> a cada uno de nuestros clientes. Un curso individual adecuado a sus necesidades, en el que se resolverán todas las dudas. De esta manera comenzarán con sus primeros pasos, aprendiendo a manejar su nuevo dispositivo.</p>
          <p class="lead">Disfrutarán de una <b>atención personalizada</b> en cualquier momento para solucionar todos los futuros problemas</p>
          <p class="lead">Además de esto disponemos de un <b>servicio técnico</b>, rápido y eficaz, especialistas en reparación de móviles, ordenadores, y tablets.</p>
        </main>
      </article>

    </div>
  </div>

</section>
<!-- End About Us -->
