<section id="venta" class="container-fluid text-center py-10vh">
  <div class="row">
    <div class="col">

      <article class="container">
        <header>
          <h1 class="text-uppercase">Vende tu antiguo dispositivo</h1>
          <span class="title-border-bottom"></span>
        </header>
        <p class="lead">En Manic Tablet te ayudamos a gestionar la venta de tu antiguo dispositivo. Para obtener mas información, llama al Tel. <a href="tel:646369041">646&nbsp;369&nbsp;041</a>, o si lo prefieres puedes visitar nuestra tienda, te esperamos en:</p>
        <p class="h6 mt-5"><b style="color: rgb(66,66,66)">Manic Tablet</b></p>
        <p class="mx-auto">Alameda del Boulevard nº25<br>20003 Donostia-San Sebastián</p>
      </article>

      <div class="section-img d-flex">
        <figure class="figure" style="flex: 1; margin: 0 -15px;">
          <img src="/assets/venta2.jpg">
        </figure>
      </div>

    </div>
  </div>
</section>
