 <section id="contacto" class="container-fluid py-10vh pb-0" itemscope itemtype="http://schema.org/LocalBusiness">
  <meta itemprop="name" content="{{ site.title }}">
  <meta itemprop="logo" content="{{ site.logo | absolute_url }}">
  <div class="row">

    <div class="col-12">
      <h1 class="text-center text-uppercase mb-4">Contacto</h1>
      <span class="title-border-bottom"></span>
      <figure class="figure d-block mx-auto mb-5" style="width: 5%;">
        <img src="/assets/manic-tablet-logo.svg" class="figure-img img-fluid" alt="{{ site.title }}">
      </figure>
    </div>

    <div class="col-xs-12 col-lg-3 order-2 order-lg-1 mx-auto text-center">
      <p><span class="icon-phone h1"></span></p>
			<p>
        <span class="d-sm-none" itemprop="telephone"><a href="tel:+34646369041">(+34) 646 369 041</a></span>
        <span class="d-none d-sm-block" itemprop="telephone">(+34) 646 369 041</span>
      </p>
      <p class="lead">TELÉFONO - WHATSAPP</p>
      <p><span class="icon-mail h1"></span></p>
      <p><a href="mailto:{{ site.email }}" itemprop="email">{{ site.email}}</a></p>
    </div>
    <div class="col-xs-12 col-lg-3 order-1 order-lg-2 mx-auto text-center" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <p><span class="icon-location h1"></span></p>
			<p><span itemprop="streetAddress">Alameda del Boulevard 25 bajo 23</span></p>
      <p><span itemprop="postalCode">20003</span> - <span itemprop="addressLocality">DONOSTIA / SAN SEBASTIÁN</span></p>
      <p><span itemprop="addressRegion">Guipúzcoa</span></p>
    </div>
    <div class="col-xs-12 col-lg-3 order-3 order-lg-3 mx-auto p-0 text-center">
      <time itemprop="openingHours" datetime="{{ site.openingHours.date }} {{ site.openingHours.mornings }} {{ site.openingHours.afternoons }}"></time>

      <p><span class="icon-clock h1"></span></p>
      <h6>Lunes a Viernes</h6>
      <p>09.00 - 13.00<br>15.00 - 20.00</p>
      <h6>Martes Servicio Técnico a domicilio</h6>
      <p>15.00 - 20.00</p>

    </div>
  </div>
  <div class="row my-5">
    <div class="col social text-center">
        <a href="https://www.facebook.com/{{ site.facebook.app_id }}" class="d-inline-flex mb-1"><span class="icon-facebook border border-dark rounded-circle"></span></a>
        <a href="https://www.instagram.com/{{ site.instagram.username }}" class="d-inline-flex mb-1"><span class="icon-instagram border border-dark rounded-circle"></span></a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="small text-center">&copy; {{ site.time | date: "%Y" }} ManicTablet. All Rights Reserved. &bull; <a href="/legal">Aviso legal y política de cookies</a></p>
    </div>
  </div>
</section>
