<section id="venta" class="text-center py-10vh px-1">

  <article>
    <header>
      <h1 class="text-uppercase">¡Vende tu antiguo dispositivo!</h1>
      <span class="title-border-bottom"></span>
    </header>
    <p class="lead">En Manic Tablet te ayudamos a gestionar la venta de tu antiguo dispositivo. Para obtener mas información, llama al Tel. <a href="tel:646369041">646&nbsp;369&nbsp;041</a>, o si lo prefieres puedes visitar nuestra tienda, te esperamos.</p>
  </article>

  <div class="section-img">
    <figure class="figure d-block mx-auto">
      <img src="/assets/venta2.jpg">
    </figure>
  </div>

</section>
