<section id="cursos" class="text-center py-10vh px-1">
  <h1 class="text-uppercase mb-4">¡Curso Manic Tablet gratis!</h1>
  <span class="title-border-bottom"></span>
  <p class="lead">Ahora por la compra de cualquier producto llévate además un curso de Manic Tablet a elegir.</p>
  <p>Aprovecha esta oferta y sácale el máximo partido a tu dispositivo.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://manictablet.com/#our-work" role="button">Ver cursos</a>
  </p>
</section>
