<section id="reparacion" class="container text-center py-10vh px-1">

  <article>
    <header>
      <h1 class="text-uppercase">Reparaciones</h1>
      <span class="title-border-bottom"></span>
    </header>
    <p class="lead">Disponemos de un excelente servicio técnico, especialistas en reparación de móviles, ordenadores, tabletas... Tenemos un amplio catalogo de servicios, para reparar  tu dispositivo; recuperación de datos, restauración y limpieza, reparación de pantalla, sustitución de batería, altavoz, conector de carga, cámara, auricular...</p>
    <p class="lead">Contacte con <a href="/#contacto">atención al cliente</a> si necesita un presupuesto, o si desea realizar cualquier tipo de consulta.</p>
  </article>

  <div class="section-img container-fluid">
    <figure class="figure d-block mx-auto">
      <img src="/assets/reparacion.jpg">
    </figure>
  </div>
  
</section>
