<section id="cursos" class="container-fluid text-center py-10vh">
  <div class="row">
    <div class="col">

      <article class="container">
        <header>
          <h1 class="text-uppercase">Los cursos</h1>
          <span class="title-border-bottom"></span>
        </header>
        <p class="lead">La llegada de los dispositivos móviles a nuestras vidas y la velocidad a la que evolucionan las aplicaciones hace que tengamos que estar constantemente aprendiendo, es difícil estar siempre actualizado. En Manic Tablet queremos que nuestros clientes aprovechen al máximo todas las capacidades que le ofrece un Móvil, una Tableta o un Ordenador. Para ello, te ofrecemos cursos personalizados adecuados a tus necesidades.</p>
        <a class="mt-button mt-button-small" href="http://manictablet.com/#our-work" role="button">Ver cursos</a>
      </article>

      <div class="section-img d-flex">
        <figure class="figure" style="flex: 1; margin: 0 -15px;">
          <img src="/assets/cursos.jpg">
        </figure>
      </div>

  </div>
 </div>
</section>
