body {
  background-color: lightgray;
}

#main-nav {
  z-index: 10;
}

#carouselExampleIndicators {
  height: calc(100vh);
  margin-top: -56px;
  //overflow: hidden;
  .carousel-item {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .carousel-caption {
    background-color: rgba(0,0,0,0.8);
  }
}
