body {
  background-color: lightgray;
}

#carouselExampleIndicators {
  height: calc(100vh - 56px);
  overflow: hidden;
  .carousel-item {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
}
