body {
  background-color: white;
  position: relative;
}

#about b {
  color: #ec1920;
}

.icon-circle {
  border: solid 2px black;
  border-radius: 50%;
  padding: 0.25em;
}
.border-dark {
  border-color: black !important;
}
.rounded-circle {
  padding: 0.25em;
  border-width: 2px !important;
}

.card-deck {
  a {
    text-decoration: none;
    color: black;
   .card {
     border: none;
   }
  }
}

.overlay {
  background: url(/assets/images/overlays/03.png);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
}

.galeria.thumbnails {
  img {
    max-width: 100px;
    @media (min-width: 568px) {
      max-width: 150px;
    }
  }
  p {
    @media (max-width: 568px) {
      font-size: 0.85rem;
    }
  }
  .img-thumbnail {
    border: none;
  }
}

.social a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  &:hover span {
    color: gray;
    border-color: gray !important;
    .icon-circle {
      border-color: gray;
    }
  }
}

.py-10vh {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.section-img {
  //margin-top: 5rem;
  figure {
    img {
      width: 100%;
    }
  }
}

.mt-button {
  display: inline-block;
  margin: 1rem;
  padding: 1.5rem 3.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: .20rem;
  font-weight: 400;
  font-size: 1rem;
  background-color: rgba(1,1,1,0.8);
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  &:hover {
    color: white;
    background-color: #000;
    text-decoration: none;
  }
  @media (max-width: 480px) {
    margin-bottom: 1rem;
    padding: 1.5rem 0.5rem;
  }
}
.mt-button.mt-button-light {
  color: black;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
  &:hover {
    background-color: #fff;
  }
}

.mt-button.mt-button-small {
  padding: 0.5rem;
}

#main-nav {
  z-index: 20;
  background-color: white !important;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);

  .navbar-brand {
    max-width: 60%;

    figure {
      padding: 0.25rem 0.75rem;
      margin-bottom: 0;
      img {
        margin: 0;
        padding-left: 1rem;
        max-height: 64px;
      }
    }
    @media (max-width: 420px) {
      padding: 0 !important;
    }
  }

  .nav-link {
    //color: black;
    color: rgb(6,6,6);
    font-size: 0.75rem;
    opacity: 0.5;
  }
  .nav-link.active {
    color: #007bff;
  }
  .nav-link:hover {
    color: #007bff;
  }

  .navbar-nav {
    margin-right: 0;
    padding-left: 1.5rem;
    .nav-item {
      //margin-top: 1rem;
      border-bottom: solid 1px #f0f0f0;
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        //margin-top: 1rem;
        //margin-right: 2.8125rem;
        border-bottom: none;
      }
      & li:last-of-type {
        //margin-right: 0;
      }
    }
  }
}

#mainCarousel {
  height: calc(100vh);
  //margin-top: -56px;
  //overflow: hidden;
  .carousel-item {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .carousel-caption {
    //background-color: rgba(0,0,0,0.8);
    //padding-left: 1rem;
    //padding-right: 1rem;
    padding: 0;
    h3, p {
      font-size: 2.5rem;
      font-weight: bolder;
      text-shadow: 2px 2px 3px black;
    }
    a {
      line-height: 2rem;
      background-color: rgba(1,1,1,0.8);
      margin-bottom: 1rem;
      border: 1px solid white;
      text-transform: uppercase;
      letter-spacing: .20rem;
      font-weight: 400;
      font-size: 1rem;
      padding: 1.5rem 3.5rem;
      &:hover {
        background-color: #000;
      }
      @media (max-width: 480px) {
        padding: 1.5rem 0.5rem;
        margin-bottom: 0;
      }
    }
  }
}

#about  {
  text-align: center;
  figure {
    max-width: 50%;
    min-width: 200px;
  }
}
