body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  color: rgb(66,66,66);
  //overflow-wrap: break-word
  //-webkit-hyphens: auto;
  //-ms-hyphens: auto;
  //hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

h1 {
  font-size: 2.25rem;
  letter-spacing: 0.45rem;
}
h2 {
  font-size:  1.8rem;
  letter-spacing: 0.15rem;
}
h3 {
  font-size:  1.5rem;
}
h4 {
  font-size:  1.4rem;
}
h5 {
  font-size:  1.3rem;
}
h6 {
  font-size:  1.2rem;
}

p {
  font-weight: 300;
  line-height: 1.6;
}

p.lead {
  font-weight: 300;
}

p + h2:not(:first-of-type) {
  margin-top: 4rem;
}
p + h3 {
  margin-top: 4rem;
}

ul {
  list-style-type: square;
  margin-bottom: 1.6rem;
}

.ls-0 {
  letter-spacing: 0;
}
.ls-1 {
  letter-spacing: 0.1rem;
}

.title-border-bottom {
  display: block;
  width: 80px;
  height: 2px;
  background: #060606;
  border-color: #060606;
  margin: 2.5rem auto;
}

.product {
  h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }
}

#contacto {
  h6 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
}

#instrucciones-compra {
  .h6 {
    font-weight: bold;
  }
}

#reparacion {
  h1 {
    overflow-wrap: break-word
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}
