---
layout: default
---

    <section class="col-12 py-10vh px-1">
      {% include gama-navigation.html %}
    </section>

    <main class="col-12 col-lg-X8 mx-auto">

      <header class="text-center">
        <h1>{{ page .title }}</h1>
        <span class="title-border-bottom"></span>
      </header>

      {% assign items = site.modelos | where: 'gama', page.title | sort: 'orden' %}
      {% if page.title == "Accesorios" %}
        {% assign items = site.productos | where: 'modelo', page.title | sort: 'orden' %}
      {% endif %}
      {% include cards.html cards=items %}

    </main>
