---
layout: default
---

<nav class="breadcrumb mt-5">
  <a class="breadcrumb-item" href="http://manictablet.com/">Inicio</a>
  <a class="breadcrumb-item" href="{{ "/" | relative_url }}">Tienda</a>
  {% assign modelo = page.modelo | downcase | replace: ' ', '' %}
  <a class="breadcrumb-item" href="{{ modelo | prepend: "modelos/" | relative_url }}">{{ page.modelo }}</a>
  <span class="breadcrumb-item active">{{ page.title }}</span>
</nav>

<article class="product">
  <header class="text-center">
    <h1>{{ page.title }}</h1>
    <p>{{ page.summary }}</p>
  </header>
  <img class="d-block mx-auto img-fluid mb-2" src="{{ page.collection  | append: "/images/" | append:  page.image | relative_url }}" alt="{{ page.title }}">
  {{ content }}
  <p class="font-weight-bold">Precio: <span class="font-weight-normal">{{ page.precio }}</span></p>
</article>
